cleantext==1.1.4
nltk==3.7
numpy==1.23.2
scikit_learn==1.2.2
spacy==3.4.2
streamlit==1.21.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
